In [76]:
#============RUN=====================
import numpy as np
import pandas as pd
import os

juni_juli_agustus = (r"C:\Users\Aufar\Desktop\edm\data_cleansing3bln.csv")

pwd = os.getcwd()

os.chdir(os.path.dirname(juni_juli_agustus))
uniqueNumber = pd.read_csv(os.path.basename(juni_juli_agustus))
juni_juli_agustus = pd.read_csv(os.path.basename(juni_juli_agustus))
print('Juni Sampe Agustus')

os.chdir(pwd)

juni_juli_agustus = juni_juli_agustus.sort_values(by=['A_NUMBER', 'CALLING_TIME'])
uniqueNumber = uniqueNumber.sort_values(by=['A_NUMBER', 'CALLING_TIME'])
# uniqueNumber = uniqueNumber.drop_duplicates(subset = ['A_NUMBER'], keep="first", inplace = True) 
print('Selesai')

C:\Users\user\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Juni Sampe Agustus
Selesai

In [77]:
#============RUN=====================
uniqueNumber.drop_duplicates(subset = ['A_NUMBER'], keep="first", inplace = True) 
x = uniqueNumber
print(len(x))

296697

In [78]:
#============RUN=====================

# Nilai Duration Rata-rata 3 bulan
durationTotal = 0
durationCount = 0

for i in juni_juli_agustus['DURATION']:
    durationTotal += i
    durationCount += 1

durationAverage = durationTotal/durationCount
print(durationAverage)

14109.495528555786

In [76]:
# Ngitung nilai durasi setiap ANUMBER 

durasiPerNomor = [] 
Nomornya = []

for i in x['A_NUMBER']:
    df = juni_juli_agustus[juni_juli_agustus['A_NUMBER'] == i]
    temp = 0
    
    for j in df['DURATION']:
        temp += j
        
    durasiPerNomor.append(temp)
    Nomornya.append(i)
    
df_train = pd.DataFrame({"Nomor" : Nomornya, "Durasi" : durasiPerNomor})
df_train

                    Nomor   Durasi
0                    3000     3627
1                    3002   762153
2                    3003   398260
3                    3004   534025
4                    3005    41382
5                    3006  1745656
6                    3007   602718
7                    3008  1936175
8                    3009     2380
9                    3015   202025
10                   3016  9446463
11                   3017     7532
12                   3018  1797425
13                   3019  1049199
14                   3020  1466984
15                   3023  3711872
16                   3025   453263
17                   3032   691869
18                   3033   901347
19                   3034  3579680
20                   3039   660015
21                   3040   458680
22                   3041   682195
23                   3042  2482279
24                   3045   925743
25                   3046   185139
26                   3049   626734
27                   3055  1868833
28                   3058  3274367
29                   3059  4918361
...                   ...      ...
296667      3162811054480    12594
296668      3162817213141     1068
296669      3162818359454     7146
296670      3174959891120     8704
296671     31442031371935    14131
296672     31622125545600    39672
296673     31622127589899    17642
296674     31622129276100    21335
296675     31622129279600   166773
296676     31622129532400    30172
296677     31622150333777   131853
296678     31623199852598    10047
296679     36130081166236   122466
296680    316281512090044     2473
296681    316281512090057     2515
296682    316281512090085      545
296683    316281512090089      642
296684    316281512090109     1925
296685    316287878858499    50139
296686   3613011888302810    21989
296687   3613011888302811     9467
296688   3613011888302830    69852
296689   3613011888302840    29756
296690   3613011888302850   201472
296691   3613011888302870    42741
296692  31628304151338222    15856
296693  31628304318008169    12592
296694  31628304318008171    33199
296695  36130118883028401    35499
296696  36130118883028701    66329

[296697 rows x 2 columns]

In [20]:
# df_train.to_csv(r'E:\TugasAkhir\hasil_durasii.csv', sep=';')
toTrain = pd.read_csv(r'E:\TugasAkhir\hasil_durasii.csv',  sep=';')
del toTrain['Unnamed: 0']
# toTrain
temp = []

for i in x['A_NUMBER']:
    temp.append(i)
    
toTrain['Nomor'] = temp
toTrain

                    Nomor   Durasi
0                    3000     3627
1                    3002   762153
2                    3003   398260
3                    3004   534025
4                    3005    41382
5                    3006  1745656
6                    3007   602718
7                    3008  1936175
8                    3009     2380
9                    3015   202025
10                   3016  9446463
11                   3017     7532
12                   3018  1797425
13                   3019  1049199
14                   3020  1466984
15                   3023  3711872
16                   3025   453263
17                   3032   691869
18                   3033   901347
19                   3034  3579680
20                   3039   660015
21                   3040   458680
22                   3041   682195
23                   3042  2482279
24                   3045   925743
25                   3046   185139
26                   3049   626734
27                   3055  1868833
28                   3058  3274367
29                   3059  4918361
...                   ...      ...
296667      3162811054480    12594
296668      3162817213141     1068
296669      3162818359454     7146
296670      3174959891120     8704
296671     31442031371935    14131
296672     31622125545600    39672
296673     31622127589899    17642
296674     31622129276100    21335
296675     31622129279600   166773
296676     31622129532400    30172
296677     31622150333777   131853
296678     31623199852598    10047
296679     36130081166236   122466
296680    316281512090044     2473
296681    316281512090057     2515
296682    316281512090085      545
296683    316281512090089      642
296684    316281512090109     1925
296685    316287878858499    50139
296686   3613011888302810    21989
296687   3613011888302811     9467
296688   3613011888302830    69852
296689   3613011888302840    29756
296690   3613011888302850   201472
296691   3613011888302870    42741
296692  31628304151338222    15856
296693  31628304318008169    12592
296694  31628304318008171    33199
296695  36130118883028401    35499
296696  36130118883028701    66329

[296697 rows x 2 columns]

In [48]:
# Menghitung nomor yg sama di setiap BUMBER pada masing2 ANUMBER.
jumlahKesamaan = []

for i in x['A_NUMBER']:
    df = juni_juli_agustus[juni_juli_agustus['A_NUMBER'] == i]
    dups = df.pivot_table(index=['B_NUMBER'], aggfunc='size')

    temp = 0
    
    for j in dups:
        if j > 1:
            temp += 1
        
    jumlahKesamaan.append(temp)
    
toTrain['KESAMAAN_B_NUMBER']= jumlahKesamaan
toTrain
    
# df = juni_juli_agustus[juni_juli_agustus['A_NUMBER'] == 3002]
# dups = df.pivot_table(index=['B_NUMBER'], aggfunc='size')

# count = 0
# for i in dups:
#     if i > 1:
#         count += 1
        
# print(count)

                    Nomor   Durasi  KESAMAAN_B_NUMBER
0                    3000     3627                  1
1                    3002   762153                  5
2                    3003   398260                  5
3                    3004   534025                  2
4                    3005    41382                  1
5                    3006  1745656                 15
6                    3007   602718                 10
7                    3008  1936175                 15
8                    3009     2380                  0
9                    3015   202025                  2
10                   3016  9446463                  7
11                   3017     7532                  0
12                   3018  1797425                 19
13                   3019  1049199                 20
14                   3020  1466984                 24
15                   3023  3711872                 57
16                   3025   453263                  9
17                   3032   691869                  6
18                   3033   901347                  7
19                   3034  3579680                  1
20                   3039   660015                  5
21                   3040   458680                  4
22                   3041   682195                 10
23                   3042  2482279                 48
24                   3045   925743                 13
25                   3046   185139                 10
26                   3049   626734                  7
27                   3055  1868833                 30
28                   3058  3274367                 41
29                   3059  4918361                  5
...                   ...      ...                ...
296667      3162811054480    12594                  1
296668      3162817213141     1068                  0
296669      3162818359454     7146                  0
296670      3174959891120     8704                  0
296671     31442031371935    14131                  0
296672     31622125545600    39672                  1
296673     31622127589899    17642                  0
296674     31622129276100    21335                  1
296675     31622129279600   166773                  1
296676     31622129532400    30172                  0
296677     31622150333777   131853                  2
296678     31623199852598    10047                  0
296679     36130081166236   122466                  2
296680    316281512090044     2473                  0
296681    316281512090057     2515                  0
296682    316281512090085      545                  0
296683    316281512090089      642                  0
296684    316281512090109     1925                  0
296685    316287878858499    50139                  1
296686   3613011888302810    21989                  0
296687   3613011888302811     9467                  0
296688   3613011888302830    69852                  0
296689   3613011888302840    29756                  0
296690   3613011888302850   201472                  1
296691   3613011888302870    42741                  2
296692  31628304151338222    15856                  0
296693  31628304318008169    12592                  1
296694  31628304318008171    33199                  1
296695  36130118883028401    35499                  2
296696  36130118883028701    66329                  2

[296697 rows x 3 columns]

In [51]:
# toTrain.to_csv(r'E:\TugasAkhir\hasil_KesamaanB_NUMBER.csv', sep=';')

toTrain = pd.read_csv(r'E:\TugasAkhir\hasil_KesamaanB_NUMBER.csv',  sep=';')
del toTrain['Unnamed: 0']
# toTrain
temp = []

for i in x['A_NUMBER']:
    temp.append(i)
    
toTrain['Nomor'] = temp
toTrain

                    Nomor   Durasi  KESAMAAN_B_NUMBER
0                    3000     3627                  1
1                    3002   762153                  5
2                    3003   398260                  5
3                    3004   534025                  2
4                    3005    41382                  1
5                    3006  1745656                 15
6                    3007   602718                 10
7                    3008  1936175                 15
8                    3009     2380                  0
9                    3015   202025                  2
10                   3016  9446463                  7
11                   3017     7532                  0
12                   3018  1797425                 19
13                   3019  1049199                 20
14                   3020  1466984                 24
15                   3023  3711872                 57
16                   3025   453263                  9
17                   3032   691869                  6
18                   3033   901347                  7
19                   3034  3579680                  1
20                   3039   660015                  5
21                   3040   458680                  4
22                   3041   682195                 10
23                   3042  2482279                 48
24                   3045   925743                 13
25                   3046   185139                 10
26                   3049   626734                  7
27                   3055  1868833                 30
28                   3058  3274367                 41
29                   3059  4918361                  5
...                   ...      ...                ...
296667      3162811054480    12594                  1
296668      3162817213141     1068                  0
296669      3162818359454     7146                  0
296670      3174959891120     8704                  0
296671     31442031371935    14131                  0
296672     31622125545600    39672                  1
296673     31622127589899    17642                  0
296674     31622129276100    21335                  1
296675     31622129279600   166773                  1
296676     31622129532400    30172                  0
296677     31622150333777   131853                  2
296678     31623199852598    10047                  0
296679     36130081166236   122466                  2
296680    316281512090044     2473                  0
296681    316281512090057     2515                  0
296682    316281512090085      545                  0
296683    316281512090089      642                  0
296684    316281512090109     1925                  0
296685    316287878858499    50139                  1
296686   3613011888302810    21989                  0
296687   3613011888302811     9467                  0
296688   3613011888302830    69852                  0
296689   3613011888302840    29756                  0
296690   3613011888302850   201472                  1
296691   3613011888302870    42741                  2
296692  31628304151338222    15856                  0
296693  31628304318008169    12592                  1
296694  31628304318008171    33199                  1
296695  36130118883028401    35499                  2
296696  36130118883028701    66329                  2

[296697 rows x 3 columns]

In [4]:
df = juni_juli_agustus[juni_juli_agustus['A_NUMBER'] == 3000]
dups = df.pivot_table(index=['B_NUMBER'], aggfunc='size')
dups

B_NUMBER
81384826526    1
81513502798    2
dtype: int64

In [182]:
import datetime
import numpy as np


jumlahBerurutan = []
awalTanggal = []
totalBerurutan = []

for i in x['A_NUMBER']:
    df = juni_juli_agustus[juni_juli_agustus['A_NUMBER'] == i] #ngambil data tiap nomor
    test1 = []
    
    for j in df['CALLING_TIME']:
        datetime_object = datetime.datetime.strptime(j, '%Y-%m-%d %H:%M:%S') #Ngebaca format tanggal
        d = datetime_object.strftime("%d/%m/%Y") #Ngerubah format tanggal jadi hari bulan tahun
        test1.append(d)

    test2 = sorted(np.unique(test1), key=lambda x: datetime.datetime.strptime(x, "%d/%m/%Y").strftime("%Y-%m-%d")) # Ngebuat tanggal yg sama jadi 1 (Buang duplikat)
    
    counter = -1
    index = 0
    jB = []
    aT = []
    
    a = True   

    if len(test2) < 5: # Kalo tanggal ga sampe 5 hari berbeda yg di telfon
        a = False

    while a:
        temp = datetime.datetime.strptime(test2[index], "%d/%m/%Y") #ngebaca format tanggal yg udh unik
        end_date = temp + datetime.timedelta(days=1) #nambah tanggal + 1 hari
        endDate = end_date.strftime("%d/%m/%Y") #samain format kyk tanggal unik
        if test2[index+1] == endDate: #ngecek kalo hari index +1 sama ga kyk hari +1
            counter+=1
        else: 
            if(counter >= 5): #Kalo berurutan diatas 5 jumlahnya
                jB.append(counter)
                aT.append(test2[index - counter])
                counter = 0
            else: # Kalo berurutan dibawah 5
                counter = 0

        if index == (len(test2)-2): #Kalo udh mau mencapai index, mencegah index out of range
            if(counter >= 5): #Kalo berurutan diatas 5 jumlahnya
                jB.append(counter)
                aT.append(test2[index - counter])
                counter = 0
            else:
                counter = 0

            a = False #Kalo index dh abis keluar dri loop
        else:
            index += 1
            
    jumlahBerurutan.append(jB)
    awalTanggal.append(aT)
    totalBerurutan.append(len(jB))
    
toTrain['TOTAL_CALLING_TIME'] = totalBerurutan
toTrain['TANGGAL_CALLING_TIME'] = awalTanggal
toTrain['JUMLAH_URUTAN_CALLING_TIME'] = jumlahBerurutan

toTrain

,Nomor,Durasi,KESAMAAN_B_NUMBER,TOTAL_CALLING_TIME,TANGGAL_CALLING_TIME,JUMLAH_URUTAN_CALLING_TIME
0,3000,3627,1,0,[],[]
1,3002,762153,5,0,[],[]
2,3003,398260,5,0,[],[]
3,3004,534025,2,0,[],[]
4,3005,41382,1,0,[],[]
5,3006,1745656,15,0,[],[]
6,3007,602718,10,0,[],[]
7,3008,1936175,15,0,[],[]
8,3009,2380,0,0,[],[]
9,3015,202025,2,0,[],[]
10,3016,9446463,7,0,[],[]
11,3017,7532,0,0,[],[]
12,3018,1797425,19,1,[05/06/2017],[5]
13,3019,1049199,20,0,[],[]
14,3020,1466984,24,0,[],[]
15,3023,3711872,57,5,"[03/06/2017, 11/06/2017, 03/07/2017, 07/08/201...","[6, 5, 5, 5, 5]"
16,3025,453263,9,0,[],[]
17,3032,691869,6,0,[],[]
18,3033,901347,7,0,[],[]
19,3034,3579680,1,0,[],[]
20,3039,660015,5,0,[],[]
21,3040,458680,4,0,[],[]
22,3041,682195,10,0,[],[]
23,3042,2482279,48,2,"[05/06/2017, 10/07/2017]","[5, 5]"
24,3045,925743,13,0,[],[]
25,3046,185139,10,0,[],[]
26,3049,626734,7,0,[],[]
27,3055,1868833,30,4,"[02/06/2017, 19/06/2017, 17/07/2017, 07/08/2017]","[13, 11, 17, 10]"
28,3058,3274367,41,1,[15/07/2017],[5]
29,3059,4918361,5,0,[],[]
...,...,...,...,...,...,...
296667,3162811054480,12594,1,0,[],[]
296668,3162817213141,1068,0,0,[],[]
296669,3162818359454,7146,0,0,[],[]
296670,3174959891120,8704,0,0,[],[]
296671,31442031371935,14131,0,0,[],[]
296672,31622125545600,39672,1,0,[],[]
296673,31622127589899,17642,0,0,[],[]
296674,31622129276100,21335,1,0,[],[]
296675,31622129279600,166773,1,0,[],[]
296676,31622129532400,30172,0,0,[],[]
296677,31622150333777,131853,2,0,[],[]
296678,31623199852598,10047,0,0,[],[]
296679,36130081166236,122466,2,0,[],[]
296680,316281512090044,2473,0,0,[],[]
296681,316281512090057,2515,0,0,[],[]
296682,316281512090085,545,0,0,[],[]
296683,316281512090089,642,0,0,[],[]
296684,316281512090109,1925,0,0,[],[]
296685,316287878858499,50139,1,0,[],[]
296686,3613011888302810,21989,0,0,[],[]
296687,3613011888302811,9467,0,0,[],[]
296688,3613011888302830,69852,0,0,[],[]
296689,3613011888302840,29756,0,0,[],[]
296690,3613011888302850,201472,1,0,[],[]
296691,3613011888302870,42741,2,0,[],[]
296692,31628304151338222,15856,0,0,[],[]
296693,31628304318008169,12592,1,0,[],[]
296694,31628304318008171,33199,1,0,[],[]
296695,36130118883028401,35499,2,0,[],[]
296696,36130118883028701,66329,2,0,[],[]

In [196]:
label = []

for i in x['A_NUMBER']:
    df = toTrain[toTrain['Nomor'] == i] #ngambil data tiap nomor
    temp = 0
    
    durasi = df.get_value(0, 1, takeable = True) 
    if durasi <= durationAverage: #Kalo dia durasi nelfonnya dibawah rata-rata (non fraud)
        temp += 1
    else:
        temp -= 1
    
    kesamaan = df.get_value(0, 2, takeable = True) 
    if kesamaan > 0: # Kalo dia nelfon ke nomor BNUMBER yg memiliki kesamaan lebih dri 0 (non fraud)
        temp += 1
    else:
        temp -= 1
        
    call_time = df.get_value(0, 3, takeable = True)
    if call_time < 1: #Kalo dia nelfon ga pernah 5 hari berturut turut (non fraud)
        temp += 1
    else:
        temp -= 1
        
    if temp > 0:
        label.append('Not Fraud')
    else:
        label.append('Fraud')
        
toTrain['Label'] = label
toTrain

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  del sys.path[0]
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

,Nomor,Durasi,KESAMAAN_B_NUMBER,TOTAL_CALLING_TIME,TANGGAL_CALLING_TIME,JUMLAH_URUTAN_CALLING_TIME,Label
0,3000,3627,1,0,[],[],Not Fraud
1,3002,762153,5,0,[],[],Not Fraud
2,3003,398260,5,0,[],[],Not Fraud
3,3004,534025,2,0,[],[],Not Fraud
4,3005,41382,1,0,[],[],Not Fraud
5,3006,1745656,15,0,[],[],Not Fraud
6,3007,602718,10,0,[],[],Not Fraud
7,3008,1936175,15,0,[],[],Not Fraud
8,3009,2380,0,0,[],[],Not Fraud
9,3015,202025,2,0,[],[],Not Fraud
10,3016,9446463,7,0,[],[],Not Fraud
11,3017,7532,0,0,[],[],Not Fraud
12,3018,1797425,19,1,[05/06/2017],[5],Fraud
13,3019,1049199,20,0,[],[],Not Fraud
14,3020,1466984,24,0,[],[],Not Fraud
15,3023,3711872,57,5,"[03/06/2017, 11/06/2017, 03/07/2017, 07/08/201...","[6, 5, 5, 5, 5]",Fraud
16,3025,453263,9,0,[],[],Not Fraud
17,3032,691869,6,0,[],[],Not Fraud
18,3033,901347,7,0,[],[],Not Fraud
19,3034,3579680,1,0,[],[],Not Fraud
20,3039,660015,5,0,[],[],Not Fraud
21,3040,458680,4,0,[],[],Not Fraud
22,3041,682195,10,0,[],[],Not Fraud
23,3042,2482279,48,2,"[05/06/2017, 10/07/2017]","[5, 5]",Fraud
24,3045,925743,13,0,[],[],Not Fraud
25,3046,185139,10,0,[],[],Not Fraud
26,3049,626734,7,0,[],[],Not Fraud
27,3055,1868833,30,4,"[02/06/2017, 19/06/2017, 17/07/2017, 07/08/2017]","[13, 11, 17, 10]",Fraud
28,3058,3274367,41,1,[15/07/2017],[5],Fraud
29,3059,4918361,5,0,[],[],Not Fraud
...,...,...,...,...,...,...,...
296667,3162811054480,12594,1,0,[],[],Not Fraud
296668,3162817213141,1068,0,0,[],[],Not Fraud
296669,3162818359454,7146,0,0,[],[],Not Fraud
296670,3174959891120,8704,0,0,[],[],Not Fraud
296671,31442031371935,14131,0,0,[],[],Fraud
296672,31622125545600,39672,1,0,[],[],Not Fraud
296673,31622127589899,17642,0,0,[],[],Fraud
296674,31622129276100,21335,1,0,[],[],Not Fraud
296675,31622129279600,166773,1,0,[],[],Not Fraud
296676,31622129532400,30172,0,0,[],[],Fraud
296677,31622150333777,131853,2,0,[],[],Not Fraud
296678,31623199852598,10047,0,0,[],[],Not Fraud
296679,36130081166236,122466,2,0,[],[],Not Fraud
296680,316281512090044,2473,0,0,[],[],Not Fraud
296681,316281512090057,2515,0,0,[],[],Not Fraud
296682,316281512090085,545,0,0,[],[],Not Fraud
296683,316281512090089,642,0,0,[],[],Not Fraud
296684,316281512090109,1925,0,0,[],[],Not Fraud
296685,316287878858499,50139,1,0,[],[],Not Fraud
296686,3613011888302810,21989,0,0,[],[],Fraud
296687,3613011888302811,9467,0,0,[],[],Not Fraud
296688,3613011888302830,69852,0,0,[],[],Fraud
296689,3613011888302840,29756,0,0,[],[],Fraud
296690,3613011888302850,201472,1,0,[],[],Not Fraud
296691,3613011888302870,42741,2,0,[],[],Not Fraud
296692,31628304151338222,15856,0,0,[],[],Fraud
296693,31628304318008169,12592,1,0,[],[],Not Fraud
296694,31628304318008171,33199,1,0,[],[],Not Fraud
296695,36130118883028401,35499,2,0,[],[],Not Fraud
296696,36130118883028701,66329,2,0,[],[],Not Fraud

In [79]:
# toTrain.to_csv(r'E:\TugasAkhir\Hasil_Labelling.csv', sep=';')
#============RUN=====================

import re
bnumber = list(juni_juli_agustus.B_NUMBER) 
for i in bnumber:
    temp = re.sub("\D", "", str(i))
    
toTrain = pd.read_csv(r'E:\TugasAkhir\Hasil_Labeelling.csv',  sep=';')
del toTrain['Unnamed: 0']
# toTrain
temp = []

for i in x['A_NUMBER']:
    temp.append(i)
    
toTrain['Nomor'] = temp
toTrain

,Nomor,Durasi,KESAMAAN_B_NUMBER,TOTAL_CALLING_TIME,TANGGAL_CALLING_TIME,JUMLAH_URUTAN_CALLING_TIME,Label
0,3000,3627,1,0,[],[],Not Fraud
1,3002,762153,5,0,[],[],Not Fraud
2,3003,398260,5,0,[],[],Not Fraud
3,3004,534025,2,0,[],[],Not Fraud
4,3005,41382,1,0,[],[],Not Fraud
5,3006,1745656,15,0,[],[],Not Fraud
6,3007,602718,10,0,[],[],Not Fraud
7,3008,1936175,15,0,[],[],Not Fraud
8,3009,2380,0,0,[],[],Not Fraud
9,3015,202025,2,0,[],[],Not Fraud
10,3016,9446463,7,0,[],[],Not Fraud
11,3017,7532,0,0,[],[],Not Fraud
12,3018,1797425,19,1,['05/06/2017'],[5],Fraud
13,3019,1049199,20,0,[],[],Not Fraud
14,3020,1466984,24,0,[],[],Not Fraud
15,3023,3711872,57,5,"['03/06/2017', '11/06/2017', '03/07/2017', '07...","[6, 5, 5, 5, 5]",Fraud
16,3025,453263,9,0,[],[],Not Fraud
17,3032,691869,6,0,[],[],Not Fraud
18,3033,901347,7,0,[],[],Not Fraud
19,3034,3579680,1,0,[],[],Not Fraud
20,3039,660015,5,0,[],[],Not Fraud
21,3040,458680,4,0,[],[],Not Fraud
22,3041,682195,10,0,[],[],Not Fraud
23,3042,2482279,48,2,"['05/06/2017', '10/07/2017']","[5, 5]",Fraud
24,3045,925743,13,0,[],[],Not Fraud
25,3046,185139,10,0,[],[],Not Fraud
26,3049,626734,7,0,[],[],Not Fraud
27,3055,1868833,30,4,"['02/06/2017', '19/06/2017', '17/07/2017', '07...","[13, 11, 17, 10]",Fraud
28,3058,3274367,41,1,['15/07/2017'],[5],Fraud
29,3059,4918361,5,0,[],[],Not Fraud
...,...,...,...,...,...,...,...
296667,3162811054480,12594,1,0,[],[],Not Fraud
296668,3162817213141,1068,0,0,[],[],Not Fraud
296669,3162818359454,7146,0,0,[],[],Not Fraud
296670,3174959891120,8704,0,0,[],[],Not Fraud
296671,31442031371935,14131,0,0,[],[],Fraud
296672,31622125545600,39672,1,0,[],[],Not Fraud
296673,31622127589899,17642,0,0,[],[],Fraud
296674,31622129276100,21335,1,0,[],[],Not Fraud
296675,31622129279600,166773,1,0,[],[],Not Fraud
296676,31622129532400,30172,0,0,[],[],Fraud
296677,31622150333777,131853,2,0,[],[],Not Fraud
296678,31623199852598,10047,0,0,[],[],Not Fraud
296679,36130081166236,122466,2,0,[],[],Not Fraud
296680,316281512090044,2473,0,0,[],[],Not Fraud
296681,316281512090057,2515,0,0,[],[],Not Fraud
296682,316281512090085,545,0,0,[],[],Not Fraud
296683,316281512090089,642,0,0,[],[],Not Fraud
296684,316281512090109,1925,0,0,[],[],Not Fraud
296685,316287878858499,50139,1,0,[],[],Not Fraud
296686,3613011888302810,21989,0,0,[],[],Fraud
296687,3613011888302811,9467,0,0,[],[],Not Fraud
296688,3613011888302830,69852,0,0,[],[],Fraud
296689,3613011888302840,29756,0,0,[],[],Fraud
296690,3613011888302850,201472,1,0,[],[],Not Fraud
296691,3613011888302870,42741,2,0,[],[],Not Fraud
296692,31628304151338222,15856,0,0,[],[],Fraud
296693,31628304318008169,12592,1,0,[],[],Not Fraud
296694,31628304318008171,33199,1,0,[],[],Not Fraud
296695,36130118883028401,35499,2,0,[],[],Not Fraud
296696,36130118883028701,66329,2,0,[],[],Not Fraud

In [80]:
#============RUN=====================

count = 0
count1 = 0
for i in toTrain['Label']:
    if i == 'Fraud':
        count += 1
    else:
        count1 += 1
        
print('Non - Fraud : ' + str(count1))
print('Fraud : ' + str(count))

Non - Fraud : 241508
Fraud : 55189

In [81]:
#============RUN=====================

fraudPart = toTrain[toTrain.Label  == "Fraud"]
nonFraudPart = toTrain[toTrain.Label  != "Fraud"]

randomFraudPart = fraudPart.sample(2500)
randomNonFraudPart = nonFraudPart.sample(2500)

trainData = pd.concat([randomFraudPart, randomNonFraudPart], ignore_index=True)
fixTrainData = trainData[['Nomor','Durasi','KESAMAAN_B_NUMBER','TOTAL_CALLING_TIME', 'Label']]
fixTrainData

           Nomor    Durasi  KESAMAAN_B_NUMBER  TOTAL_CALLING_TIME      Label
0      361738078    889839                 15                   2      Fraud
1      315321994     84602                  0                   0      Fraud
2      333423624     32663                  0                   0      Fraud
3     3613350004   2681965                 61                   4      Fraud
4     3618483021     24673                  0                   0      Fraud
5      361721689     21686                  0                   0      Fraud
6      317995992     17967                  0                   0      Fraud
7      315341575     23308                  0                   0      Fraud
8      315967123     31927                  0                   0      Fraud
9      317415914     23291                  0                   0      Fraud
10    3199037230     40116                  0                   0      Fraud
11    3199003691  10285255                  3                   1      Fraud
12     315963295     20312                  0                   0      Fraud
13    3619079008   1604933                 23                   2      Fraud
14    3159173118   8911082                  3                   1      Fraud
15    3151908453     35539                  0                   0      Fraud
16     341367202     32859                  0                   0      Fraud
17    3199022087     59076                  0                   0      Fraud
18    3527540089     14730                  0                   0      Fraud
19     317874029     18284                  0                   0      Fraud
20     318074880     16056                  0                   0      Fraud
21     315915937    260022                 16                   1      Fraud
22     315483805     40981                  0                   0      Fraud
23     315479735   1763555                 26                   4      Fraud
24    3728281057   1479049                 24                   3      Fraud
25     318941708     17145                  0                   0      Fraud
26     341800729     22058                  0                   0      Fraud
27    3619376078     31213                  0                   0      Fraud
28    3199160166     63604                  0                   0      Fraud
29     354776999     38114                  0                   0      Fraud
...          ...       ...                ...                 ...        ...
4970   341326475     10074                  0                   0  Not Fraud
4971   317523999    301771                  4                   0  Not Fraud
4972  3618445575      1300                  0                   0  Not Fraud
4973   317889209     16912                  1                   0  Not Fraud
4974  3706195275    529995                  4                   0  Not Fraud
4975   341343985    130310                  5                   0  Not Fraud
4976   315452867     46488                  1                   0  Not Fraud
4977   361778231      4636                  0                   0  Not Fraud
4978   361489319     57599                  3                   0  Not Fraud
4979   370643014    236102                  4                   0  Not Fraud
4980   351388603     42592                  1                   0  Not Fraud
4981   361732847    108060                  3                   0  Not Fraud
4982   313537338    350756                  7                   0  Not Fraud
4983  3736181356      3966                  0                   0  Not Fraud
4984   361722643     12020                  2                   0  Not Fraud
4985  3199532810    138780                  2                   0  Not Fraud
4986   318986223      4002                  0                   0  Not Fraud
4987   355327502     20997                  1                   0  Not Fraud
4988   354698216      1385                  0                   0  Not Fraud
4989   315318998    217016                  4                   0  Not Fraud
4990   315475830    115752                  6                   0  Not Fraud
4991   318432053   1110164                 17                   0  Not Fraud
4992   315933143     32648                  2                   0  Not Fraud
4993   315992852    104445                  2                   0  Not Fraud
4994   351451490      6828                  0                   0  Not Fraud
4995  3619314375      4405                  0                   0  Not Fraud
4996   315042786      1776                  0                   0  Not Fraud
4997   315315173      4114                  0                   0  Not Fraud
4998   355397960      3816                  0                   0  Not Fraud
4999   318700873    431566                  4                   0  Not Fraud

[5000 rows x 5 columns]

In [84]:
#============RUN=====================

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import BernoulliNB
import numpy as np
from sklearn.metrics import confusion_matrix, precision_score, classification_report, recall_score, f1_score

scen_test = input("Please Input Test Ratio (ex: 0.2, 0.3, 0.25, etc) : ")
#Memasukkan data training pada fungsi klasifikasi Naive Bayes
X_train, X_test, y_train, y_test = train_test_split(fixTrainData[['Durasi','KESAMAAN_B_NUMBER','TOTAL_CALLING_TIME']],
                                                    fixTrainData['Label'], test_size=float(scen_test))
#Membuat fungsi klasifikasi Naive Bayes
clf = BernoulliNB().fit(X_train, y_train)

#Menentukan hasil prediksi dari X_test
y_pred = clf.predict(X_test)

print("Accuracy Score Naive Bayes - Bernoulli : " + str((round((accuracy_score(y_test, y_pred)*100),2))) + "%") #score prediksi
print("")
print("=== " + " Naive Bayes - Bernoulli " +" ===")
print("")    
print(classification_report(y_test, y_pred))
print("")
print(pd.crosstab(y_test, y_pred, rownames=['True'], colnames=['Predicted'], margins=True))
print("")

Please Input Test Ratio (ex: 0.2, 0.3, 0.25, etc) : 0.25
Accuracy Score Naive Bayes - Bernoulli : 85.52%

===  Naive Bayes - Bernoulli  ===

              precision    recall  f1-score   support

       Fraud       0.77      1.00      0.87       623
   Not Fraud       1.00      0.71      0.83       627

   micro avg       0.86      0.86      0.86      1250
   macro avg       0.89      0.86      0.85      1250
weighted avg       0.89      0.86      0.85      1250


Predicted  Fraud  Not Fraud   All
True
Fraud        623          0   623
Not Fraud    181        446   627
All          804        446  1250

In [10]:
#============RUN=====================

perbandingan = X_test
indeks = X_test.index
nomer = []

for i in indeks:
    nomer.append(fixTrainData.loc[ i , 'Nomor'])

perbandingan['True Label'] = y_test
perbandingan['Predicted Label'] = y_pred
perbandingan['Nomor'] = nomer
perbandingan

,Durasi,KESAMAAN_B_NUMBER,TOTAL_CALLING_TIME,True Label,Predicted Label,Nomor
2764,111459,1,0,Not Fraud,Not Fraud,321690168
4767,45189,2,0,Not Fraud,Not Fraud,361720072
3814,1602,0,0,Not Fraud,Fraud,313949510
3499,344137,6,0,Not Fraud,Not Fraud,361228306
2735,1808,0,0,Not Fraud,Fraud,3139921215
3922,291614,1,0,Not Fraud,Not Fraud,313294262
2701,5333,0,0,Not Fraud,Fraud,318064255
1179,669018,7,1,Fraud,Fraud,313717611
932,623184,9,2,Fraud,Fraud,361751551
792,15082,0,0,Fraud,Fraud,370629688
1852,21410,0,0,Fraud,Fraud,3199010466
1185,16944,0,0,Fraud,Fraud,354443688
1724,18224,0,0,Fraud,Fraud,315480103
4080,4387,0,0,Not Fraud,Fraud,315022665
3823,6103,0,0,Not Fraud,Fraud,313763746
4054,5622,0,0,Not Fraud,Fraud,315311117
2721,21257,1,0,Not Fraud,Not Fraud,315031120
3903,24163,1,0,Not Fraud,Not Fraud,3414345356
1865,126735,0,0,Fraud,Fraud,317318259
759,15096,0,0,Fraud,Fraud,342443888
2416,20577,0,0,Fraud,Fraud,317522834
3670,347655,1,0,Not Fraud,Not Fraud,315943878
4838,66841,4,0,Not Fraud,Not Fraud,3618443139
3090,4171,0,0,Not Fraud,Fraud,351463492
1546,751685,6,1,Fraud,Fraud,3121002337
1132,314763,2,1,Fraud,Fraud,318794933
4703,2052,0,0,Not Fraud,Fraud,315674098
4494,744159,11,0,Not Fraud,Not Fraud,318669258
2775,221297,4,0,Not Fraud,Not Fraud,341363401
3185,31450,2,0,Not Fraud,Not Fraud,341498729
...,...,...,...,...,...,...
1439,29287,0,0,Fraud,Fraud,315950101
1022,961655,16,2,Fraud,Fraud,315487022
3233,42399,3,0,Not Fraud,Not Fraud,353512009
411,31487,0,0,Fraud,Fraud,315328502
2261,74195,0,0,Fraud,Fraud,3424551600
1062,14908,0,0,Fraud,Fraud,318674435
4212,74888,2,0,Not Fraud,Not Fraud,3706198638
4903,1066,0,0,Not Fraud,Fraud,341570095
4343,6873,0,0,Not Fraud,Fraud,3618480431
3561,668096,11,0,Not Fraud,Not Fraud,3151164205
665,3948054,32,7,Fraud,Fraud,334884495
4928,110133,3,0,Not Fraud,Not Fraud,318471768
4659,75516,1,0,Not Fraud,Not Fraud,313524690
4188,17091,1,0,Not Fraud,Not Fraud,313523712
4938,8840,0,0,Not Fraud,Fraud,318940181
114,604523,12,1,Fraud,Fraud,313956628
3989,16999,1,0,Not Fraud,Not Fraud,3151501511
2302,36847,0,0,Fraud,Fraud,3121001245
2477,48227,0,0,Fraud,Fraud,333415380
3250,487782,5,0,Not Fraud,Not Fraud,3152406413
118,28643,0,0,Fraud,Fraud,3158203989
1981,56139,0,0,Fraud,Fraud,315036554
2180,157046,2,1,Fraud,Fraud,361484330
162,4359557,44,5,Fraud,Fraud,313982981
263,84952,0,0,Fraud,Fraud,341470338
4342,3214,0,0,Not Fraud,Fraud,351896521
775,152946,0,0,Fraud,Fraud,3619342120
4541,246218,6,0,Not Fraud,Not Fraud,315018110
4473,4819,0,0,Not Fraud,Fraud,318540026
651,48641,0,0,Fraud,Fraud,317343005

In [40]:
perbandingan = pd.read_csv(r'E:\TugasAkhir\Hasil_perbandingan.csv',  sep=';')

In [10]:
juni_juli_agustus

                  A_NUMBER      B_NUMBER         CALLING_TIME  DURATION
3017975               3000   81384826526  2017-07-24 14:48:59       455
3005567               3000   81513502798  2017-07-24 16:12:37      1591
3005565               3000   81513502798  2017-07-24 16:12:38      1581
6915830               3002  081338703131  2017-06-02 10:20:20      8469
6863327               3002  081338156544  2017-06-02 16:05:35     20960
6591157               3002   81338156544  2017-06-06 16:28:19     34657
6173741               3002   81338703131  2017-06-12 10:37:46      1021
6145476               3002   81338703131  2017-06-12 13:45:10      1390
5945727               3002   81338703131  2017-06-14 13:26:19      3047
5945474               3002   81338156544  2017-06-14 13:28:06     19902
5866709               3002   81347889494  2017-06-15 11:12:35      7169
5333217               3002   81338703131  2017-06-21 11:01:05      9279
5225433               3002   81338703131  2017-06-22 12:15:04      9396
4727802               3002   81338703131  2017-07-03 12:33:32      5185
4727387               3002   81338156544  2017-07-03 12:37:19      7412
4680957               3002   81338156544  2017-07-04 07:48:59     12824
4665143               3002   81338703131  2017-07-04 09:42:35      5324
4457652               3002   81338703131  2017-07-06 12:39:06     10968
4425396               3002   81338156544  2017-07-06 16:38:32       152
4393567               3002   81338703131  2017-07-07 09:22:58      5061
4172411               3002   85347091068  2017-07-10 15:31:42      1331
4166321               3002   81338156544  2017-07-10 16:13:47      4027
4003786               3002  081338156544  2017-07-12 12:49:45     14485
3908077               3002   81338156544  2017-07-13 13:14:17     15892
3891254               3002   81338734278  2017-07-13 15:08:10      6636
3842572               3002    8113800250  2017-07-14 10:05:19      5020
3835426               3002   81338156544  2017-07-14 10:46:19      9448
3812614               3002   81338156544  2017-07-14 13:52:22      7031
3808917               3002   81350501666  2017-07-14 14:15:18      3437
3662164               3002    8113803882  2017-07-17 10:02:17     21221
...                    ...           ...                  ...       ...
1528740   3613011888302811   85100571010  2017-08-09 14:19:28      2621
5540266   3613011888302830     811182704  2017-06-19 11:19:02     69852
2629281   3613011888302840   85100880535  2017-07-28 10:59:30     29756
2067412   3613011888302850   81364757695  2017-08-03 13:03:16     32338
2066657   3613011888302850   81364757695  2017-08-03 13:09:08    169134
2316388   3613011888302870   81287999868  2017-08-01 08:20:44     13472
2267575   3613011888302870   81287999868  2017-08-01 13:24:19      8573
2246703   3613011888302870   81287999868  2017-08-01 15:36:55      1352
1278185   3613011888302870   85102416623  2017-08-13 16:06:28     10320
1278019   3613011888302870   85102416623  2017-08-13 16:13:14      3294
1257778   3613011888302870   81288302992  2017-08-14 09:14:33      5730
3851941  31628304151338222   85289367368  2017-07-14 09:12:02     15856
1579789  31628304318008169  895353120516  2017-08-09 08:34:49      3873
1579677  31628304318008169  895353120516  2017-08-09 08:35:38      8719
1436067  31628304318008171  895353120516  2017-08-10 16:02:58      3893
1435957  31628304318008171  895353120516  2017-08-10 16:03:48     29306
2826120  36130118883028401   82341155944  2017-07-26 12:46:32      1492
2825975  36130118883028401   82341155944  2017-07-26 12:47:56      2572
2582361  36130118883028401   82339441315  2017-07-28 16:36:59     24337
2250077  36130118883028401   82340304845  2017-08-01 15:13:20      5633
2249874  36130118883028401   82340304845  2017-08-01 15:14:53       899
2249803  36130118883028401   82340304845  2017-08-01 15:15:33       399
2249744  36130118883028401   82340304845  2017-08-01 15:15:58       167
2341014  36130118883028701   82340563208  2017-07-31 17:29:29      4932
2340923  36130118883028701   82340563208  2017-07-31 17:30:27      2536
1541702  36130118883028701   82340840223  2017-08-09 12:50:33     16257
1258039  36130118883028701   82156211994  2017-08-14 09:12:53      5167
1257397  36130118883028701   82340840223  2017-08-14 09:16:53      8089
513655   36130118883028701   82340840223  2017-08-25 13:30:43     20443
117138   36130118883028701   82340840223  2017-08-30 14:41:56      8905

[6985327 rows x 4 columns]