In [1]:
import pandas as pd
df = pd.read_excel(r'C:\Users\Aufar\Documents\edm\kualitasUdara.xlsx')
del df['Unnamed: 0']
df = df.dropna()
df

,tanggal,wilayah,pm10,so2,co,o3,no2,max,critical,kategori
0,2017-01-01,DKI1,63.0,34.0,25.0,21.0,2.0,63.0,PM10,SEDANG
1,2017-01-02,DKI1,16.0,32.0,16.0,19.0,1.0,32.0,SO2,BAIK
2,2017-01-03,DKI1,18.0,32.0,17.0,20.0,2.0,32.0,SO2,BAIK
3,2017-01-04,DKI1,24.0,32.0,22.0,20.0,2.0,32.0,SO2,BAIK
4,2017-01-05,DKI1,29.0,32.0,25.0,14.0,2.0,32.0,SO2,BAIK
...,...,...,...,...,...,...,...,...,...,...
1088,2019-12-25,DKI1 (Bunderan HI),51.0,20.0,11.0,43.0,9.0,51.0,PM10,SEDANG
1089,2019-12-26,DKI1 (Bunderan HI),54.0,23.0,19.0,52.0,9.0,54.0,PM10,SEDANG
1090,2019-12-27,DKI1 (Bunderan HI),52.0,28.0,21.0,41.0,11.0,52.0,PM10,SEDANG
1093,2019-12-30,DKI1 (Bunderan HI),52.0,22.0,28.0,47.0,9.0,52.0,PM10,SEDANG
1094,2019-12-31,DKI1 (Bunderan HI),41.0,22.0,14.0,29.0,9.0,41.0,PM10,BAIK

In [2]:
import datetime

year2017 = []
monthlyLabel2017 = []
year2018 = []
monthlyLabel2018 = []
year2019 = []
monthlyLabel2019 = []
indeks = df.index
count = 0

for i in df['tanggal']:
    tanggal = datetime.datetime.strptime(i, "%Y-%m-%d")
    
    if tanggal.year == 2017:
        year2017.append(tanggal.month)
        monthlyLabel2017.append(df.loc[ indeks[count] , 'kategori'])
    elif tanggal.year == 2018:
        year2018.append(tanggal.month)
        monthlyLabel2018.append(df.loc[ indeks[count] , 'kategori'])
    else:
        year2019.append(tanggal.month)  
        monthlyLabel2019.append(df.loc[ indeks[count] , 'kategori'])
        
    count += 1
    

print("Jumlah Label di tahun 2017 :" , len(monthlyLabel2017))
print("Jumlah Label di tahun 2018 :" , len(monthlyLabel2018))
print("Jumlah Label di tahun 2019 :" , len(monthlyLabel2019))

Jumlah Label di tahun 2017 : 354
Jumlah Label di tahun 2018 : 305
Jumlah Label di tahun 2019 : 332

In [3]:
count = 0
finalMonth2017 = []
detailFinalMonth2017 = []

for i in range(1,13): #Ada 12 Bulan
    temp = year2017.count(i)
    baik = 0
    sedang = 0
    tidakSehat = 0
    
    for i in range(temp):
        tempLabel = monthlyLabel2017[count]
        if tempLabel == "BAIK":
            baik += 1
        elif tempLabel == "SEDANG":
            sedang += 1
        else:
            tidakSehat += 1
            
        count += 1
        
    totalLabelMonthly = {'BAIK': baik, 'SEDANG': sedang, 'TIDAK_SEHAT': tidakSehat}
    detailFinalMonth2017.append(totalLabelMonthly)
    finalMonth2017.append(max(totalLabelMonthly, key=totalLabelMonthly.get))
    
print("Tahun 2017 :", finalMonth2017)

Tahun 2017 : ['BAIK', 'BAIK', 'SEDANG', 'SEDANG', 'SEDANG', 'SEDANG', 'SEDANG', 'SEDANG', 'SEDANG', 'SEDANG', 'SEDANG', 'BAIK']

In [4]:
count = 0
finalMonth2018 = []
detailFinalMonth2018 = []

for i in range(1,13): #Ada 12 Bulan
    temp = year2018.count(i)
    baik = 0
    sedang = 0
    tidakSehat = 0
    
    for i in range(temp):
        tempLabel = monthlyLabel2018[count]
        if tempLabel == "BAIK":
            baik += 1
        elif tempLabel == "SEDANG":
            sedang += 1
        else:
            tidakSehat += 1
            
        count += 1
        
    totalLabelMonthly = {'BAIK': baik, 'SEDANG': sedang, 'TIDAK_SEHAT': tidakSehat}
    detailFinalMonth2018.append(totalLabelMonthly)
    finalMonth2018.append(max(totalLabelMonthly, key=totalLabelMonthly.get))
    
print("Tahun 2018 :", finalMonth2018)

Tahun 2018 : ['BAIK', 'BAIK', 'SEDANG', 'BAIK', 'BAIK', 'SEDANG', 'SEDANG', 'SEDANG', 'SEDANG', 'BAIK', 'SEDANG', 'SEDANG']

In [5]:
count = 0
finalMonth2019 = []
detailFinalMonth2019 = []

for i in range(1,13): #Ada 12 Bulan
    temp = year2019.count(i)
    baik = 0
    sedang = 0
    tidakSehat = 0
    
    for i in range(temp):
        tempLabel = monthlyLabel2019[count]
        if tempLabel == "BAIK":
            baik += 1
        elif tempLabel == "SEDANG":
            sedang += 1
        else:
            tidakSehat += 1
            
        count += 1
        
    totalLabelMonthly = {'BAIK': baik, 'SEDANG': sedang, 'TIDAK_SEHAT': tidakSehat}
    detailFinalMonth2019.append(totalLabelMonthly)
    finalMonth2019.append(max(totalLabelMonthly, key=totalLabelMonthly.get))
    
print("Tahun 2019 :", finalMonth2019)

Tahun 2019 : ['SEDANG', 'SEDANG', 'BAIK', 'BAIK', 'SEDANG', 'SEDANG', 'SEDANG', 'SEDANG', 'SEDANG', 'SEDANG', 'SEDANG', 'SEDANG']

In [6]:
finalMonthAllYear = ["January 2017", "February 2017", "March 2017", "April 2017", "May 2017", "June 2017", "July 2017",
                     "August 2017", "September 2017", "October 2017", "November 2017", "December 2017", "January 2018", 
                     "February 2018", "March 2018", "April 2018", "May 2018", "June 2018", "July 2018", "August 2018", 
                     "September 2018", "October 2018", "November 2018", "December 2018", "January 2019", "February 2019", 
                     "March 2019", "April 2019", "May 2019", "June 2019", "July 2019", "August 2019", "September 2019", 
                     "October 2019", "November 2019", "December 2019"]

labelFinal = finalMonth2017 + finalMonth2018 + finalMonth2019
finalDetailAllMonth = detailFinalMonth2017 + detailFinalMonth2018 + detailFinalMonth2019
df_mayoritas = pd.DataFrame({"Month" : finalMonthAllYear, "Detail" : finalDetailAllMonth, "Label" : labelFinal})
df_mayoritas

             Month                                        Detail   Label
0     January 2017   {'BAIK': 28, 'SEDANG': 2, 'TIDAK_SEHAT': 0}    BAIK
1    February 2017  {'BAIK': 17, 'SEDANG': 11, 'TIDAK_SEHAT': 0}    BAIK
2       March 2017   {'BAIK': 7, 'SEDANG': 21, 'TIDAK_SEHAT': 2}  SEDANG
3       April 2017  {'BAIK': 12, 'SEDANG': 16, 'TIDAK_SEHAT': 0}  SEDANG
4         May 2017   {'BAIK': 2, 'SEDANG': 28, 'TIDAK_SEHAT': 1}  SEDANG
5        June 2017   {'BAIK': 9, 'SEDANG': 21, 'TIDAK_SEHAT': 0}  SEDANG
6        July 2017   {'BAIK': 4, 'SEDANG': 24, 'TIDAK_SEHAT': 3}  SEDANG
7      August 2017   {'BAIK': 1, 'SEDANG': 24, 'TIDAK_SEHAT': 6}  SEDANG
8   September 2017   {'BAIK': 1, 'SEDANG': 24, 'TIDAK_SEHAT': 4}  SEDANG
9     October 2017   {'BAIK': 3, 'SEDANG': 24, 'TIDAK_SEHAT': 4}  SEDANG
10   November 2017   {'BAIK': 9, 'SEDANG': 10, 'TIDAK_SEHAT': 9}  SEDANG
11   December 2017   {'BAIK': 24, 'SEDANG': 3, 'TIDAK_SEHAT': 0}    BAIK
12    January 2018   {'BAIK': 30, 'SEDANG': 0, 'TIDAK_SEHAT': 0}    BAIK
13   February 2018   {'BAIK': 25, 'SEDANG': 0, 'TIDAK_SEHAT': 0}    BAIK
14      March 2018  {'BAIK': 13, 'SEDANG': 16, 'TIDAK_SEHAT': 2}  SEDANG
15      April 2018   {'BAIK': 15, 'SEDANG': 7, 'TIDAK_SEHAT': 0}    BAIK
16        May 2018    {'BAIK': 8, 'SEDANG': 8, 'TIDAK_SEHAT': 0}    BAIK
17       June 2018  {'BAIK': 10, 'SEDANG': 11, 'TIDAK_SEHAT': 0}  SEDANG
18       July 2018   {'BAIK': 0, 'SEDANG': 10, 'TIDAK_SEHAT': 0}  SEDANG
19     August 2018   {'BAIK': 3, 'SEDANG': 27, 'TIDAK_SEHAT': 0}  SEDANG
20  September 2018  {'BAIK': 10, 'SEDANG': 20, 'TIDAK_SEHAT': 0}  SEDANG
21    October 2018  {'BAIK': 20, 'SEDANG': 11, 'TIDAK_SEHAT': 0}    BAIK
22   November 2018   {'BAIK': 7, 'SEDANG': 19, 'TIDAK_SEHAT': 3}  SEDANG
23   December 2018  {'BAIK': 11, 'SEDANG': 18, 'TIDAK_SEHAT': 1}  SEDANG
24    January 2019    {'BAIK': 2, 'SEDANG': 6, 'TIDAK_SEHAT': 3}  SEDANG
25   February 2019  {'BAIK': 11, 'SEDANG': 14, 'TIDAK_SEHAT': 2}  SEDANG
26      March 2019  {'BAIK': 20, 'SEDANG': 10, 'TIDAK_SEHAT': 1}    BAIK
27      April 2019  {'BAIK': 15, 'SEDANG': 15, 'TIDAK_SEHAT': 0}    BAIK
28        May 2019   {'BAIK': 6, 'SEDANG': 25, 'TIDAK_SEHAT': 0}  SEDANG
29       June 2019   {'BAIK': 2, 'SEDANG': 27, 'TIDAK_SEHAT': 1}  SEDANG
30       July 2019   {'BAIK': 0, 'SEDANG': 27, 'TIDAK_SEHAT': 2}  SEDANG
31     August 2019   {'BAIK': 0, 'SEDANG': 30, 'TIDAK_SEHAT': 1}  SEDANG
32  September 2019   {'BAIK': 1, 'SEDANG': 27, 'TIDAK_SEHAT': 0}  SEDANG
33    October 2019   {'BAIK': 0, 'SEDANG': 29, 'TIDAK_SEHAT': 0}  SEDANG
34   November 2019   {'BAIK': 0, 'SEDANG': 28, 'TIDAK_SEHAT': 1}  SEDANG
35   December 2019   {'BAIK': 2, 'SEDANG': 24, 'TIDAK_SEHAT': 0}  SEDANG

In [7]:
labeltoNumerik = []
for i in df_mayoritas['Label']:
    if i == 'BAIK':
        labeltoNumerik.append(3)
    elif i == 'SEDANG':
        labeltoNumerik.append(2)
    else:
        labeltoNumerik.append(1)

In [8]:
from forecast_x import forecast_x as fx

# time series observation
time_series = labeltoNumerik
freq = 12 # monthly
h = 5 # forecast months ahead

# Creating the forecast object
f = fx.forecast(time_series, freq, h)

# Applying any the model from the package
model = f.best_model()
model

# The model variable would produce a list of three elements:
# - Fitting Values
# - Error
# - Forecast
# 4. Valid Model
model = f.model_multi_seas_mean()
model

[[2.291666666666667,
  2.328125,
  2.369140625,
  2.415283203125,
  2.383860270182292,
  2.3068428039550786,
  2.345198154449463],
 0.3509422783412328,
 [2.083333333333333,
  2.09375,
  2.10546875,
  2.076985677083333,
  2.044942220052083],
 True]

In [9]:
PredictedMonth = ["January 2020", "February 2020", "March 2020", "April 2020", "May 2020"]
Label = []
for i in model[2]:
    if i >= 2.5 and i <= 3:
        Label.append('BAIK')
    elif i >= 2 and i < 2.5:
        Label.append('SEDANG')
    else:
        Label.append('TIDAK SEHAT')
        
df_prediksi = pd.DataFrame({"Month" : PredictedMonth, "Label" : Label})
df_prediksi

           Month   Label
0   January 2020  SEDANG
1  February 2020  SEDANG
2     March 2020  SEDANG
3     April 2020  SEDANG
4       May 2020  SEDANG

In [10]:
# Reference
# https://pypi.org/project/forecast-x/
# https://www.referenceforbusiness.com/management/Ex-Gov/Forecasting.html
# https://stepupanalytics.com/time-series-forecasting-using-fb-prophet-in-python/#prettyPhoto